body{
    background-color: rgb(28, 194, 206);
}
p{
color: dodgerblue;
}
img{
    width: 200px;
height: 200px;
}
ul{
    list-style: square;
}
h2{
   color: rgb(189, 209, 12); 
}
li{
    color: rgb(100, 139, 37);
}
p{
    width: 400px;
    height: 100px;
    font-size: 22px;
}