table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
}
td{
    border: 1px solid rgb(0, 0, 0);
}
tr{
    height: 50px;
}
td{
    border: 1px solid black;
}
.maina_diag{
    background-color: brown;
}
.sec_diag{
    background-color: cadetblue;
}
#unique_sell:hover{
    background-color: rgb(41, 182, 28);
}
#unique_sell{
    background-color: rgb(136, 94, 190);
}